<div id="login-screen">
  <div class="container vcenter">
    <div>
      <%= image_tag("logo.png", :alt => "Logo") %>
      <%= link_to "Login with Google", '/auth/google_oauth2', class: 'btn btn-primary' %>
    </div>
  </div>
</div>
