$max-width: 768px;
$header-height: 64px;

html {
  background-color: gray;
}
html, body {
  min-height: 100%;
  height: 100%;
}

body {
  @include font(regular, normal);
  color: $darkgray;
  max-width: $max-width;
  margin: 0 auto;

  &.has-header { padding-top: $header-height; }
  > * { background-color: white; }
  > header {
    background-color: $blue;
    color: $header-gray;
    font-size: 14.5pt;
    height: $header-height;
    @include display-flex;
    align-items: center;
    @include justify-content(space-between);
    padding: 0 15px;
    position: fixed;
    width: 100%;
    max-width: $max-width;
    top: 0;

    button {
      background-color: $blue;
      color: white;
      border: thin solid white;
      @include border-radius(3px);
      font-size: 10.5pt;
      padding: 6px 8px;
    }

    a {
      color: white;
      &.icon {
        width: 40px;
        height: 40px;
        background-size: 40px;
      }
      &:hover { color: inherit; }
      &:active { color: inherit; }
      &:link { color: inherit; }
      &:visited { color: inherit; }
    }

    &.right {
      @include justify-content(flex-start);
    }

    &.space-between {
      @include justify-content(space-between);
    }
  }
}

a {
  text-decoration: none;
  &:link { text-decoration: none; }
  &:visited { text-decoration: none; }
  &:hover { text-decoration: none; }
  &:active { text-decoration: none; }
}

.filters {
  height: 45px;
  background-color: $bg-gray;
  font-size: 9pt;
  @include display-flex;
  align-items: center;
  @include justify-content(space-around);
  .filter {
    select {
      background-color: transparent;
      border: none;
      color: $blue;
    }
  }
}

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;

  &.back {
    background-image: url(<%= asset_data_uri 'icons/back_arrow.svg' %>);
    background-repeat: no-repeat;
    background-position: center;
  }
  &.forward {
    background-image: url(<%= asset_data_uri 'icons/forward_arrow.svg' %>);
    background-repeat: no-repeat;
    background-position: center;
  }
  &.plus {
    background-image: url(<%= asset_data_uri 'icons/plus.svg' %>);
    background-repeat: no-repeat;
    background-position: center;
  }
  &.red-cross {
    background-image: url(<%= asset_data_uri 'icons/red_cross.svg' %>);
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  &.new-ticket {
    background-image: url(<%= asset_data_uri 'icons/new_ticket.svg' %>);
    background-repeat: no-repeat;
    background-position: center;
  }
  &.menu {
    background-image: url(<%= asset_data_uri 'icons/menu.svg' %>);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.btn-primary {
  background-color: $blue;
  border-color: $blue;
}

button#cancel {
  margin-top: 10px;
  background-color: $gray;
  color: white;
}
.error {
  color: $error;
  background-color: $bg-gray;
  font-size: 9pt;
}
.clickable {
  cursor: pointer;
}

// Main menu
nav#main-menu {
  @include display-flex;
  @include justify-content(flex-start);
  @include font(light);
  @include flex-direction(column);
  background-color: $blue;
  color: white;
  font-size: 11pt;
  text-align: center;
  height: 100%;
  position: fixed;
  width: 100%;
  max-width: $max-width;
  top: 0;
  z-index: 10;

  header {
    height: 64px;
    @include display-flex;
    align-items: center;
    @include justify-content(flex-start);
    padding: 0 15px;
    button {
      @include font(regular);
      background: white;
      color: $blue;
      border: thin solid white;
      @include border-radius(3px);
      font-size: 10.5pt;
      padding: 6px 8px;
    }
  }
  h1, footer {
    @include font(regular);
    font-size: 14.5pt;
  }
  h1 {
    background-image: url(<%= asset_data_uri 'icons/ticket.svg' %>);
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 25px;
    margin-bottom: 30px;
  }
  a {
    color: inherit;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
  footer {
    margin-top: 10%;
  }
  ul {
    li {
      div {
        cursor: pointer;
        display: inline-block;
        padding: 6px;
        &.active {
          @include font(regular);
          @include border-radius(5px);
          background-color: white;
          color: $blue;
        }
      }
    }
  }
}

.vcenter {
  background-color: $bg-gray;
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(space-around);
  align-items: center;
  min-height: 100%;
  >div {
    flex: 1 1 auto;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    align-items: center;
    width: 100%;
    :last-child { margin-top: 20px; }
    img {
      width: 102px;
      height: 102px;
    }
    .btn {
      width: 100%;
      font-size: 13.5pt;
      padding: 16px;
    }
  }
}
.form-group {
  &.outform {
    padding: 16px;
    margin-bottom: 0;
    .btn {
      @include font(light);
      width: 100%;
      font-size: 13.5pt;
      padding: 15px auto;
      &:disabled {
        color: $darkgray;
        background-color: $bg-gray;
        border: $bg-gray;
      }
    }
  }
}

#files-attached {
  overflow: hidden;
  li {
    @include display-flex;
    align-items: center;
    @include font(light);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    .icon {
      margin-right: 6px;
      min-width: 16px;
    }
  }
}

#login-screen {
  max-width: $max-width;
  width: 100%;
  position: absolute;
  height: 100%;
  margin: 0;
  .vcenter {
    max-width: $max-width;
  }
}

:focus {
  outline: none; 
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: $lightgray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $lightgray;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $lightgray;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: $lightgray;
}

@media (min-width: 768px) {
  #login-screen {
    .container {
      width: 100%;
    }
  }
  
}
