@mixin font($weight: regular, $style: normal) {
  font-family: 'Lato', sans-serif;
  font-style: $style;

  @if $weight == regular {
    font-weight: 400;
  } @else if $weight == light {
      font-weight: 300;
  } @else if $weight == bold {
      font-weight: 700;
  }
}

// colors
$blue: #227FBB;
$red: #E94B35;
$yellow: #F5A623;
$header-gray: #ECF0F1;
$lightgray: #C0C0C0;
$gray: #99999C;
$darkgray: #4A4A4A;
$bg-gray: #EFEFEF;
$error: #D0021B;
