<h1>webhooks!</h1>

<ul>
<% @transactions.each do |t| %>
  <li>
    <strong>ticket ID:</strong> <%= t.ticket_id %><br>
    <strong>status:</strong> <%= t.status %><br>
    <strong>highlight:</strong> <%= t.highlight %><br>
    <strong>action type:</strong> <%= t.action_type %><br>
    <strong>performer:</strong> (<%= t.performer_id %>) <%= t.performer_name %><br>
    <strong>content:</strong> <pre><%= t.content %></pre>
  </li>
<% end %>
</ul>