<div class="<%= data['action_type'] %>">
  <!-- @TODO define better when webhooks are properly selected -->
  <% case data["action_type"] 
      when "creation" %>Created
  <%  when "status_change" %>Status changed to <strong><%= data['status'] %></strong>
  <% end %>
</div>