<% unless @ticket.nil? or @ticket["id"].nil? %>
  <header class="right">
    <span>
      <%= link_to ticket_path(@ticket["id"]) do %>
        <i class="icon back"></i>
      <% end %>
      Editing #<%= @ticket["id"] %>
    </span>

  </header>
  <%= form_tag("/tickets/#{@ticket["id"]}", method: :put, id: 'ticket_form', class: "ticket") do %>
    <div class="form-group">
      <%= text_field_tag "tickets[name]", @ticket["name"].presence||"", class: "form-control", placeholder: "Title", maxlength: Ticket.max_name %>
    </div>
    <% unless @errors.nil? or @errors.class.to_s != 'Array' %>
      <% @errors.each do |error| %>
        <% if error['field'] == 'name' %>
          <div class="error"><%= error['problem'] %></div>
        <% end %>
      <% end %>
    <% end %>

    <div class="form-group">
      <%= text_area_tag("tickets[description]", @ticket["description"]||"""", :id => "description", :class => "form-control", placeholder: "Description", maxlength: Ticket.max_description) %>
    </div>
    <% unless @errors.nil? or @errors.class.to_s != 'Array' %>
      <% @errors.each do |error| %>
        <% if error['field'] == 'description' %>
          <div class="error"><%= error['problem'] %></div>
        <% end %>
      <% end %>
    <% end %>
    <%
      severity = ['low', 'Low']
      team = ['web', 'Web']
      @ticket["labels"].each do |label|
        if Ticket.severities.include?(label['name'].downcase)
          severity = [label['name'].downcase, label['name'].capitalize]
        else
          team = [label['name'].downcase, label['name'].capitalize]
        end
      end
    %>
    <div class="form-group two-cols">
      <label for="team">Team</label>
      <% unless @browser == 'mobile' %>
        <span id="team-selected" class="clickable"><%= team[1] %></span>
        <%= select_tag("tickets[team]", options_for_select([['Web', 'web', :class => 'clickable'], ['Android', 'android', :class => 'clickable'], ['iOS', 'ios', :class => 'clickable'], ['Platform', 'platform', :class => 'clickable']], team ), :class => "form-control hidden", :size =>4) %>
      <% else %>
        <%= select_tag("tickets[team]", options_for_select([['Web', 'web', :class => 'clickable'], ['Android', 'android', :class => 'clickable'], ['iOS', 'ios', :class => 'clickable'], ['Platform', 'platform', :class => 'clickable']], team ), :class => "form-control") %>
      <% end %>
    </div>

    <div class="form-group two-cols">
      <label for="severity">Severity</label>
      <% unless @browser == 'mobile' %>
        <span id="severity-selected" class="clickable <%= severity[0] %>"><%= severity[1] %></span>
        <%= select_tag("tickets[severity]", options_for_select([['Low', 'low', class: "low"], ['Medium', 'medium', class: "medium"], ['High', 'high', class: "high"]], severity), :class => "form-control hidden", :size =>3) %>
      <% else %>
        <%= select_tag("tickets[severity]", options_for_select([['Low', 'low', class: "low"], ['Medium', 'medium', class: "medium"], ['High', 'high', class: "high"]], severity), :class => "form-control #{severity[0]}") %>
      <% end %>
    </div>
    <div class="form-group noborder">
      <%= button_tag('Submit', :class => "btn btn-primary", type: 'submit') %>
      <%= button_tag('Cancel', :class => "btn", onclick: "cancelForm()", :id => "cancel" ) %>
    </div>
  <% end %>

  <script type="text/javascript">

<% unless @browser == 'mobile' %>
    function toggle(field) {
      $('#tickets_'+field).toggleClass('hidden');
      $('#'+field+'-selected').toggleClass('hidden');
    }
    $('#team-selected').on('click', function(evt) {
      $('#tickets_team').prop('selectedIndex', -1);
      toggle('team');
    });
    $('#tickets_team').on('change', function(evt) {
      $('#team-selected').html($('#tickets_team :selected').html());
      toggle('team');
    });

    $('#severity-selected').on('click', function(evt) {
      $('#tickets_severity').prop('selectedIndex', -1);
      toggle('severity');
    });
    $('#tickets_severity').on('change', function(evt) {
      $('#severity-selected').html($('#severity :selected').html());
      toggle('severity');
      $('#severity-selected').removeClass().addClass('clickable '+$('#tickets_severity :selected').val()).html($('#tickets_severity :selected').text());
    });
<% else %>
  $('#tickets_severity').on('change', function(evt) {
    $('#tickets_severity').removeClass('low');
    $('#tickets_severity').removeClass('medium');
    $('#tickets_severity').removeClass('high');
    $('#tickets_severity').addClass($('#tickets_severity :selected').attr('class'));
  });
<% end %>

    function cancelForm() {
      window.history.back();
    }
  </script>

<% else %>
  <header class="right">
    <span>
      <%= link_to tickets_path do %>
        <i class="icon back"></i>
        All tickets
      <% end %>
      / Not found
    </span>

  </header>
  <main class="ticket">
    <h1>Ticket not found</h1>
  </main>
<% end %>