
<nav id="main-menu" class="fit-height hidden">
  <div>
    <header>
      <button class="main-menu-button" type="button">Close</button>
    </header>
    <h1>Tickets</h1>
    <ul>
      <li>
        <div class="<%= 'active' if @team == 'all' %>" data-team="all">
          <%= link_to "All Tickets(#{@numbers[:all].to_s})", tickets_path(:team=>'all', :status=>@status, :sort_by=>@sort_by, :show=>@show) %>
        </div>
      </li>
      <li>
        <div class="<%= 'active' if @team == 'ios' %>" data-team="ios">
          <%= link_to "iOS (#{@numbers[:ios].to_s})", tickets_path(:team=>'ios', :status=>@status, :sort_by=>@sort_by, :show=>@show) %>
        </div>
      </li>
      <li>
        <div class="<%= 'active' if @team == 'android' %>" data-team="android">
          <%= link_to "Android (#{@numbers[:android].to_s})", tickets_path(:team=>'android', :status=>@status, :sort_by=>@sort_by, :show=>@show) %>
        </div>
      </li>
      <li>
        <div class="<%= 'active' if @team == 'platform' %>" data-team="platform">
          <%= link_to "Platform (#{@numbers[:platform].to_s})", tickets_path(:team=>'platform', :status=>@status, :sort_by=>@sort_by, :show=>@show) %>
        </div>
      </li>
      <li>
        <div class="<%= 'active' if @team == 'web' %>" data-team="web">
          <%= link_to "Web (#{@numbers[:web].to_s})", tickets_path(:team=>'web', :status=>@status, :sort_by=>@sort_by, :show=>@show) %>
        </div>
      </li>
    </ul>
    <div>
      <% if @show != 'all' %>
        <%= link_to tickets_path(:team=>@team, :status=>@status, :sort_by=>@sort_by, :show=>'all') do %>
          <i class="glyphicon glyphicon-check"></i>
          Show only my tickets
        <% end %>
      <% else %>
        <%= link_to tickets_path(:team=>@team, :status=>@status, :sort_by=>@sort_by, :show=>'mine') do %>
          <i class="glyphicon glyphicon-unchecked"></i>
          Show only my tickets
        <% end %>
    <% end %>
    </div>
  </div>
  <footer>
    <%= link_to "Log Out", logout_path %>
  </footer>
</nav>
<header>
  <a href="#" class="icon menu main-menu-button" title="Main menu"></a>

  <span>
    <% case @team
         when 'ios' then %>iOS
      <% when 'android' then %>Android
      <% when 'web' then %>Web
      <% when 'platform' then %>Platform
      <% when 'techops' then %>TechOp
      <% else %>All tickets
    <% end %>
    (<%= @bugs.length if @bugs.kind_of?(Array) %>)
  </span>

  <%= link_to "", new_ticket_path, :class => "icon new-ticket", :title => "New ticket" %>
</header>
<% if @bugs.kind_of?(Array) %>
  <% if @total > 0 %>
    <section class="filters">
      <div class="filter">
        <label for="sortby">Sort by</label>
        <%= select_tag("sortby", options_for_select([
          ['Last updated', 'newest'], ['State', 'state']], [@sort_by.capitalize, @sort_by])) %>
      </div>
      <div class="filter">
        <label for="status">Status</label>
        <%= select_tag("status", options_for_select([
          ['Opened tickets', 'opened'], ['Closed tickets', 'closed']], [@status.capitalize, @status])) %>
      </div>
    </section>
  <% end %>
  <% if @bugs.length == 0 %>
    <% if @total == 0 %>
    <div class="vcenter"><span>No tickets yet, <%= link_to "make your first ticket now!", new_ticket_path, :title => "New ticket" %></span></div>
    <% else %>
    <div class="vcenter"><span>No <%= @status %> tickets, please <%= link_to "go to the #{@opposite_status} ones", tickets_path(:team=>@team, :status=>@opposite_status, :sort_by=>@sort_by, :show=>@show), :title => "Change to #{@opposite_status} ones" %>.</span></div>
    <% end %>
  <% else %>
    <ul class="tickets">
    <% @bugs.each do |bug| %>
      <%
        severity = 'low'
        team = 'unknown'
        bug["labels"].each do |label|
          if Ticket.severities.include?(label['name'].downcase)
            severity = label["name"]
          else
            team = label["name"]
          end
        end
      %>
      <li class="ticket <%=severity%>">
        <%= link_to ticket_path(bug["id"]), :class=> "list-item" do %>
          <article>
            <div class="date">
              <%= Time.parse(bug["created_at"]).strftime("%A %d %b") %>

              <span class="last-update">
                (Last update <%= time_diff Time.parse(bug["updated_at"]) %> ago)
              </span>
            </div>
            <h2>
              <%= Rumoji.decode(bug["name"]) %>
            </h2>
          </article>
          <footer class="meta">
            Assigned to <em><%=team%></em> and has been <em><%= @alias_statuses[@statuses.index(bug["current_state"])] %></em>
          </footer>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% end %>
<% else %>
  <%= @bugs["error"] %>
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    $('.main-menu-button').on('click', function() {
      $('#main-menu').toggleClass('hidden');
    });

    $('#sortby').on('change', function(evt) {
      window.location.href = "/tickets?team=<%= @team %>&sortby="+evt.target.options[evt.target.selectedIndex].value+"&status=<%= @status %>"
    });

    $('#status').on('change', function(evt) {
      window.location.href = "/tickets?team=<%= @team %>&status="+evt.target.options[evt.target.selectedIndex].value+"&sortby=<%= @sort_by %>"
    });
  });
</script>
