
<header class="right">
  <span>
    <%= link_to tickets_path do %>
      <i class="icon back"></i>
    <% end %>
    New Ticket
  </span>

</header>
<%= form_tag("/tickets", method: :post, id: 'ticket_form', class: "ticket") do %>
  <% unless @errors.nil? %>
    <% if @errors.class.to_s != 'Array' and not @errors["general"].nil? %>
      <div class="error"><%= @errors["general"] %></div>
    <% end %>
  <% end %>
  <div class="form-group">
    <%= text_field_tag "tickets[name]", @ticket["name"].presence||"", class: "form-control", placeholder: "Title", maxlength: Ticket.max_name %>
  </div>
  <% unless @errors.nil? or @errors.class.to_s != 'Array' %>
    <% @errors.each do |error| %>
      <% if error['field'] == 'name' %>
        <div class="error"><%= error['problem'] %></div>
      <% end %>
    <% end %>
  <% end %>
  <div class="form-group">
    <%= text_area_tag "tickets[description]", @ticket["description"]||"", id: "description", class: "form-control", placeholder: "Description", maxlength: Ticket.max_description %>
  </div>
  <% unless @errors.nil? or @errors.class.to_s != 'Array' %>
    <% @errors.each do |error| %>
      <% if error['field'] == 'description' %>
        <div class="error"><%= error['problem'] %></div>
      <% end %>
    <% end %>
  <% end %>

  <div class="form-group two-cols">
    <label for="team">Team</label>
    <% unless @browser == 'mobile' %>
      <span id="team-selected" class="clickable">Web</span>
      <%= select_tag("tickets[team]", options_for_select([['Web', 'web', :class => 'clickable'], ['Android', 'android', :class => 'clickable'], ['iOS', 'ios', :class => 'clickable'], ['Platform', 'platform', :class => 'clickable']], @ticket["team"]||['Web', 'web']), :class => "form-control hidden", :size =>4) %>
    <% else %>
      <%= select_tag("tickets[team]", options_for_select([['Web', 'web', :class => 'clickable'], ['Android', 'android', :class => 'clickable'], ['iOS', 'ios', :class => 'clickable'], ['Platform', 'platform', :class => 'clickable']], @ticket["team"]||['Web', 'web']), :class => "form-control") %>
    <% end %>
  </div>

  <div class="form-group two-cols">
    <label for="severity">Severity</label>
    <% unless @browser == 'mobile' %>
      <span id="severity-selected" class="clickable low">Low</span>
      <%= select_tag("tickets[severity]", options_for_select([['Low', 'low', :class => 'low clickable'], ['Medium', 'medium', :class => 'medium clickable'], ['High', 'high', :class => 'high clickable']], @ticket["severity"]||['Low', 'low']), :class => "form-control hidden", :size =>3) %>
    <% else %>
      <%= select_tag("tickets[severity]", options_for_select([['Low', 'low', :class => 'low clickable'], ['Medium', 'medium', :class => 'medium clickable'], ['High', 'high', :class => 'high clickable']], @ticket["severity"]||['Low', 'low']), :class => "form-control low") %>
    <% end %>
  </div>
  <%= hidden_field_tag("tickets[file_attachments]", @attachments||"[]") %>
  <% unless @attachments.nil? or @attachments.length==0 %>
  <div class="form-group">
    The following files were already uploaded: 
    <% first = true
      comments = ActiveSupport::JSON.decode(@attachments)
      comments.each do |att| %>
      <% if first
          first = false
        else %>
        ,
      <% end %>
      <%= att['filename'] %>
    <% end %>
    </div>
  <% end %>
<% end %>
<%= form_tag("/tickets/upload", method: :post, id: 'fileuploads', enctype: "multipart/form-data", remote: true, class: "ticket") do %>
  <div class="form-group two-cols noborder">
    <label for="attachments">Attachments</label>
    <ul id="files-attached">
      <li id="add-file" class="clickable">
        <i class="icon plus"></i> Add file
      </li>
    </ul>
    <%= file_field_tag "attachments", :multiple=> true, name: 'attachments[]', class: 'hidden' %>
  </div>

  <div id="progress" class="hidden">
    <div class="bar" style="width: 0%;"></div>
  </div>
<% end %>

<div class="form-group noborder outform">
  <%= button_tag('Submit', :class => "btn btn-primary", onclick: "submitForm()", :id => "submit" ) %>
  <%= button_tag('Cancel', :class => "btn", onclick: "cancelForm()", :id => "cancel" ) %>
</div>

<script type="text/javascript">
  var files = [];
  var fileNumber = 1;

  $('#add-file').on('click', function(evt) {
    $('#attachments').trigger('click');
  });

    $("#attachments").fileupload({
      dataType: 'json',
      add: function (e, data) {
        var template = $('#files-attached');
        for (var idx=0; idx<data.files.length; idx++) {
          files.push(data.files[idx]);
          var t = $('<li/>').text(data.files[idx].name).prependTo(template);
          var redCross = $('<i class="icon red-cross"/>')
          redCross.prependTo(t);

          // attach the click event to delete the file from the list
          $(redCross).on('click', function(evt) {
            var filename = this.nextSibling.textContent;

            $(redCross).unbind('click');

            // remove the file from the list
            files = files.map( function(item) {
              if (item.name!==filename)
                return item;
            }).filter(function(item) { return item!= undefined; });

            // remove node in view
            t.remove();
          });
        }
        data.context = template;

      },
      done: function(e, data) {
        console.log('done!', arguments);
      },
      url: "/tickets/upload",
      progress: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress .bar').css(
            'width',
            progress + '%'
        );
      }
     });

 function submitForm(e) {
   console.log('submit', arguments);

   $('#submit').attr('disabled', 'disabled');

   if (files.length > 0) {
     $('#progress').removeClass("hidden");
     $("#attachments").fileupload('send', {files: files})
      .success(function(data, status) {
        console.log('sent', arguments);
        var attchs = $('#tickets_file_attachments').val();

        if(attchs == "") {
          attchs = [];
        } else {
          attchs = JSON.parse($('#tickets_file_attachments').val());  
        }

        attchs = attchs.concat(arguments[0]);
        $('#tickets_file_attachments').val(JSON.stringify(attchs));
        $('#ticket_form').submit();
      })
      .error(function(data) {
        console.log('err', arguments);
        $('#submit').prop('disabled', '');
        $('#progress').addClass("hidden");
      })
      .complete(function(data) { console.log('complete', arguments); });
    } else {
      $('#ticket_form').submit();
    }

   return false;
 }

  function cancelForm() {
    // @todo maybe cancel file uploadings
    window.history.back();
  }

  function toggle(field) {
    $('#tickets_'+field).toggleClass('hidden');
    $('#'+field+'-selected').toggleClass('hidden');
  }

<% unless @browser == 'mobile' %>
  $('#team-selected').on('click', function(evt) {
    $('#tickets_team').prop('selectedIndex', -1);
    toggle('team');
  });
  $('#tickets_team').on('change', function(evt) {
    $('#team-selected').html($('#tickets_team :selected').html());
    toggle('team');
  });

  $('#severity-selected').on('click', function(evt) {
    $('#tickets_severity').prop('selectedIndex', -1);
    toggle('severity');
  });
  $('#tickets_severity').on('change', function(evt) {
    $('#severity-selected').html($('#severity :selected').html());
    toggle('severity');
    $('#severity-selected').removeClass().addClass('clickable '+$('#tickets_severity :selected').val()).html($('#tickets_severity :selected').text());
  });
<% else %>
  $('#tickets_severity').on('change', function(evt) {
    $('#tickets_severity').removeClass('low');
    $('#tickets_severity').removeClass('medium');
    $('#tickets_severity').removeClass('high');
    $('#tickets_severity').addClass($('#tickets_severity :selected').attr('class'));
  });
<% end %>

</script>
