<% unless @ticket.nil? %>
  <header class="space-between">
    <span>
      <%= link_to tickets_path do %>
        <i class="icon back"></i>
        All tickets
      <% end %>
      / #<%= @ticket["id"] %>
    </span>

    <button id="edit-btn">Edit</button>
  </header>
  <main class="ticket <%= @ticket["severity"] %>">
    <div id="info">
      <em class="status"><%= @alias_statuses[@statuses.index(@ticket["current_state"])] %></em>
      <h1><%= @ticket["name"] %></h1>
      <section class="owner">
        <%
        unless @user.nil?
          name = @user["name"]
          image = gravatar_image_tag @user['email'], :class=>'avatar', :alt=> name
        else
          name = 'Nobody'
          image = image_tag(asset_path("logo.png"), :alt=> name, :class=>'avatar' )
        end
        %>
        <%= image %>
        <div>
          <div class="name">
            <%= name %>
          </div>
          <div class="date">
            <% time = Time.parse(@ticket["created_at"]) %>
            <%= time.strftime("%A #{time.day.ordinalize} %b %I:%M") %><%= time.strftime("%p").downcase %>
            <% if @ticket["created_at"] == @ticket["updated_at"] %>
            <span class="last-update">
              (<%= time_diff Time.parse(@ticket["updated_at"]) %> ago)
            </span>
            <% end %>
          </div>
        </div>
      </section>
      <section class="description">
        <%= @ticket["description"] %>
      </section>
      <% unless @ticket['attachments'].nil? or @ticket['attachments']['top'].nil? or @ticket['attachments']['top'].length == 0 %>
        <h2>Attachments</h2>
        <ul class="attachments">
          <% @ticket['attachments']['top'].each do |attachment| %>
          <li class="attachment">
            <%= link_to download_attachment_path(id: attachment["id"]), target: '_blank' do %>
              <span class="details">
                <%
                  url = 'http://placehold.it/72x53'
                  if attachment["thumbnailable"] == true and attachment["thumbnail_url"] != '#'
                    url = attachment["thumbnail_url"]
                  end
                %>
                <img src="<%= url %>">
                <%= attachment["filename"] %>
              </span>
              <i class="icon forward"></i>
            <% end %>
          </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <section class="history">
      <ul id="list-items">
        <% last = nil %>
        <% @ticket["history"].each do |item| %>
        <li class="<%= item['kind'] %><% unless item["first_comment"].nil? %> hidden<% end %>">
          <% 
            unless item[:author].nil?
              author = item[:author]['person']['name']
              avatar = gravatar_image_tag item[:author]['person']['email'], :alt=> author
            else
              author = nil
              avatar = image_tag item['icon']
            end
          %>
          <%= avatar %>
          <div class="history-data">
            <% unless author.nil? %>
            <span>
              <%= author %>
            </span>
            <% end %>
            <div class="details">
              <% if item['kind'] == 'transaction' %>
                <%= simple_format(item["text"]) %>
              <% else %>
                <%= item["text"] %>
              <% end %>
            </div>
            <% unless @ticket['attachments'].nil? or @ticket['attachments'][item['id']].nil? %>
              <ul class="attachments">
                <% @ticket['attachments'][item['id']].each do |attachment| %>
                <li class="attachment">
                  <%= link_to download_attachment_path(id: attachment["id"]), target: '_blank' do %>
                    <span class="details">
                      <%
                        url = 'http://placehold.it/72x53'
                        if attachment["thumbnailable"] == true and attachment["thumbnail_url"] != '#'
                          url = attachment["thumbnail_url"]
                        end
                      %>
                      <img src="<%= url %>">
                      <%= attachment["filename"] %>
                    </span>
                    <i class="icon forward"></i>
                  <% end %>
                </li>
                <% end %>
              </ul>
            <% end %>
            <div class="meta">
              <%
                date = item["created_at"]
                time = Time.parse(date)
              %>
              <%= time.strftime("%A #{time.day.ordinalize} %b %I:%M") %><%= time.strftime("%p").downcase %>
              <% unless last.nil? %>
               (+<%= time_diff last, time %>)
              <% end %>
            </div>
          </div>
        </li>
        <% last = time %>
        <% end %>
      </ul>
      <div id="form-comment-wrapper">
        <%= form_tag("/tickets/comment", method: :post, id: 'form-comment') do  %>
          <%= hidden_field(:ticket, :id, :value => @ticket["id"]) %>
          <%= hidden_field(:ticket, :project_id, :value => @ticket["project_id"]) %>
          <div class="form-group">
            <%= text_area_tag("comment[text]", @comment['text']||"", :class => "form-control", :placeholder => "Comment", 'required'=>true, maxlength: Ticket.max_comment) %>
            <% unless @errors.nil? or @errors.class.to_s != 'Array' %>
              <% @errors.each do |error| %>
                <% if error['field'] == 'comment' %>
                  <div id="comment_error" class="error"><%= error['problem'] %></div>
                <% end %>
              <% end %>
            <% end %>
            <div id="comment_error" class="error hidden">The comment cannot be empty</div>
          </div>
          <%= hidden_field_tag("comment[file_attachments]", @comment['attachments']||"[]" ) %>
          <% unless @comment['attachments'].nil? or @comment['attachments'].length==0 %>
          <div class="form-group">
            The following files were already uploaded: 
            <% first = true
              comments = ActiveSupport::JSON.decode(@comment['attachments'])
              comments.each do |att| %>
              <% if first
                  first = false
                else %>
                ,
              <% end %>
              <%= att['filename'] %>
            <% end %>
            </div>
          <% end %>
        <% end %>
        <%= form_tag("/tickets/upload", method: :post, id: 'fileuploads', enctype: "multipart/form-data", remote: true, class: "ticket") do %>
            <div class="form-group two-cols noborder">
              <label for="attachments">Attachment(s)</label>
              <ul id="files-attached">
                <li id="add-file" class="clickable">
                  <i class="icon plus"></i> Add file
                </li>
              </ul>
              <%= file_field_tag "attachments", :multiple=> true, name: 'attachments[]', class: 'hidden' %>
            </div>

            <div id="progress" class="hidden">
              <div class="bar" style="width: 0%;"></div>
            </div>
        <% end %>
        <div class="form-group noborder outform">
          <%= button_tag('Submit comment', :class => "btn btn-primary", :id => "submit-comment") %>
        </div>
      </div>
    </section>
  </main>

  <script type="text/javascript">
    $('#edit-btn').on('click', function(){
      window.location.href = window.location.href+'/edit'
    })
    var files = [];

    $('#add-file').on('click', function(evt) {
      $('#attachments').trigger('click');
    });

    $("#attachments").fileupload({
      dataType: 'json',
      add: function (e, data) {
        var template = $('#files-attached');
        for (var idx=0; idx<data.files.length; idx++) {
          files.push(data.files[idx]);
          var t = $('<li/>').text(data.files[idx].name).prependTo(template);
          var redCross = $('<i class="icon red-cross"/>')
          redCross.prependTo(t);

          // attach the click event to delete the file from the list
          $(redCross).on('click', function(evt) {
            var filename = this.nextSibling.textContent;

            $(redCross).unbind('click');

            // remove the file from the list
            files = files.map( function(item) {
              if (item.name!==filename)
                return item;
            }).filter(function(item) { return item!= undefined; });

            // remove node in view
            t.remove();
          });
        }
        data.context = template;

      },
      done: function(e, data) {
        console.log('done!', arguments);
      },
      url: "/tickets/upload",
      progress: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress .bar').css(
            'width',
            progress + '%'
        );
      }
   });

   $('#submit-comment').on('click', function(e) {
      // disable submit button
      $(e.target).prop('disabled', 'disabled');

      if ($("#comment_text").val().trim() === "") {
        $("#comment_error").removeClass('hidden');
        $(e.target).prop('disabled', '');
      } else {
        $("#comment_error").addClass('hidden');

        if (files.length > 0) {
          $('#progress').removeClass("hidden");
          $("#attachments").fileupload('send', {files: files})
            .success(function(data, status) {
              console.log('sent', arguments);
              var attchs = $('#comment_file_attachments').val();

              if(attchs == "") {
                attchs = [];
              } else {
                attchs = JSON.parse($('#comment_file_attachments').val());  
              }

              attchs = attchs.concat(arguments[0]);
              $('#comment_file_attachments').val(JSON.stringify(attchs));
              $('#form-comment').submit();
            })
            .error(function(data) {
              console.log('err', arguments);
              $(e.target).prop('disabled', '');
              $('#progress').addClass("hidden");
            })
            .complete(function(data) { console.log('complete', arguments); });
        } else {
          $('#form-comment').submit();
        }
      }

      return false;
   });

  </script>
<% else %>
  <header class="right">
    <span>
      <%= link_to tickets_path do %>
        <i class="icon back"></i>
        All tickets
      <% end %>
      / Not found
    </span>

  </header>
  <main class="ticket">
    <h1>Ticket not found</h1>
  </main>
<% end %>
