// Place all the styles related to the tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Helvetica Neue, sans-serif;
  font-size: 12pt;
}

footer { height: 75px; padding-top: 25px; }

#tickets {
  a {
    color: black; text-decoration: none;
    &:hover { color: black; }
  }
}
.tickets-related {
  li { list-style: none; }
}
.history {
  margin-bottom: 10px;
}
.top10 { margin-top: 10px; }
.right { float: right; margin-right: 20px; }
.left { float: left; margin-right: 20px; }
.text-right { text-align: right; }
.errors {
  margin: 10px 0;
  padding: 0;
  color: crimson;
  li { list-style: none; }
}
.bar {
    height: 18px;
    background: green;
}
@media screen and (max-width: 480px) {
  html { background-color: white; }
  h1 { font-size: 18pt; padding-bottom: 10px; }
}
