<!DOCTYPE html>
<html>
<head>
  <title>Grill</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <div class="container vcenter fit-height">
    <div>
      <%= image_tag("logo.png", :alt => "Logo") %>
      <%= link_to "Login with Google", '/auth/google_oauth2', class: 'btn btn-primary' %>
    </div>
  </div>
  <header>
    <a href="#" class="icon menu" title="Main menu"></a>

    <span>
      <a href="#">
        <i class="icon back"></i>
      </a>
      Title
    </span>

    <a href="#" class="icon new-ticket" title="New ticket">
    </a>
  </header>
  <section class="filters">
    <div class="filter">
      <label for="sortby">Sort by</label>
      <select id="sortby" name="sortby">
        <option value="newest">Newest</option>
        <option value="state">State</option>
      </select>
    </div>
    <div class="filter">
      <label for="status">Status</label>
      <select id="status" name="status">
        <option value="open">Open tickets</option>
        <option value="closed">Closed tickets</option>
      </select>
    </div>
  </section>
  <ul class="tickets">
    <li class="ticket high">
      <article>
        <div class="date">Monday 19 Oct</div>
        <h2><a href="#">Ticket title</a></h2>
      </article>
      <footer class="meta">
        Assigned to <em>iOS</em> and has been <em>accepted</em>
      </footer>
    </li>
    <li class="ticket medium">
      <article>
        <div class="date">Monday 19 Oct <span class="last-update">(Last update 2 hours ago)</span></div>
        <h2><a href="#">That's a long ticket title that may not fit in one line in a portrait screen</a></h2>
      </article>
      <footer class="meta">
        Assigned to <em>iOS</em> and has been <em>accepted</em>
      </footer>
    </li>
    <li class="ticket low">
      <article>
        <div class="date">Monday 19 Oct</div>
        <h2><a href="#">Ticket title</a></h2>
      </article>
      <footer class="meta">
        Assigned to <em>iOS</em> and has been <em>accepted</em>
      </footer>
    </li>
  </ul>
  <main class="ticket high">
    <em class="status">Not in progress</em>
    <h1>Users are seeing duplicate flings in their world and following feed</h1>
    <section class="owner">
      <img class="avatar" src="http://lorempixel.com/24/24/people/">
      <div>
        <div class="name">
          James Weaver
        </div>
        <div class="date">
          Monday 19th 9:32am
          <span class="last-update">(2 days ago)</span>
        </div>
      </div>
    </section>
    <section class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum convallis in orci non imperdiet. Vestibulum sapien mi, tincidunt a interdum eget, varius et enim. Cras sem sem, feugiat a lacus sit amet, consequat dictum enim. Phasellus tempor maximus turpis, non placerat leo fringilla in. Ut venenatis volutpat metus eget porta. Quisque vitae purus a risus pretium interdum. Praesent commodo nec magna sed accumsan.</p>
      <p>Cras et neque condimentum, dictum est maximus, iaculis leo. Proin viverra, risus eu imperdiet iaculis, elit diam euismod orci, sollicitudin viverra nisi ligula ut lectus. Etiam pellentesque sem a dui condimentum.</p>
    </section>
    <h2>Attachments</h2>
    <ul class="attachments">
      <li class="attachment">
        <a href="#">
          <span class="details">
            <img src="http://lorempixel.com/32/32/">
            Fileattachment1.png
          </span>
          <i class="icon forward"></i>
        </a>
      </li>
    </ul>
    <section class="comments">
      <ul>
        <li class="comment">
          <img src="http://lorempixel.com/24/24/people/">
          <div>
            <div class="details">Assigned to <em>Web</em></div>
            <div class="meta">Monday 19th 10:32am (+1 hour)</div>
          </div>
        </li>
        <li class="comment">
          <img src="http://lorempixel.com/24/24/people/">
          <div>
            <div class="details">Status changed to <em>accepted</em></div>
            <div class="meta">Tuesday 20th 9:32am (+1 day)</div>
          </div>
        </li>
        <li class="comment">
          <img src="http://lorempixel.com/24/24/people/">
          <div>
            <div class="details">Task <a href="#">#8728</a> created</div>
            <div class="meta">Tuesday 20th 1:32am (+3 hours)</div>
          </div>
        </li>
        <li class="comment">
          <img src="http://lorempixel.com/24/24/business/">
          <div>
            <div class="details">Task changed to <em>in progress</em></div>
            <div class="meta">Tuesday 20th 1:32am (+3 hours)</div>
          </div>
        </li>
        <li class="comment">
          <img src="http://lorempixel.com/24/24/people/">
          <div>
            <div class="details">
              <blockquote>"Looks to be a problem with how users are"</blockquote>
            </div>
            <div class="meta">Monday 19th 10:32am (+1 hour)</div>
          </div>
        </li>
        <li class="comment">
          <img src="http://lorempixel.com/24/24/people/">
          <div>
            <div class="details">Task <a href="#">#8728</a> closed</div>
            <div class="meta">Tuesday 20th 1:32am (+3 hours)</div>
          </div>
        </li>
      </ul>
      <form method="post">
        <textarea id="text" name="text" placeholder="Comment">
        </textarea>
        <input type="submit" value="Submit comment" class="btn btn-primary">
      </form>
    </section>
  </main>
  <form class="ticket">
    <div class="form-group">
      <input type="text" id="title" name="title" class="form-control" placeholder="Title">
    </div>
    <div class="error">Title must not be blank</div>

    <div class="form-group">
      <textarea id="title" name="title" class="form-control" placeholder="Description"></textarea>
    </div>

    <div class="form-group two-cols">
      <label for="team">Team</label>
      <span id="team-selected" class="clickable">Web</span>
      <select id="team" name="team" class="form-control hidden" size="7">
        <option value="web clickable">Web</option>
        <option value="android clickable">Android</option>
        <option value="ios clickable">iOS</option>
        <option value="platform clickable">Platform</option>
      </select>
    </div>

    <div class="form-group two-cols">
      <label for="severity">Severity</label>
      <span id="severity-selected" class="clickable low">Low</span>
      <select id="severity" name="severity" class="form-control hidden" size="5">
        <option class="low clickable" value="low">Low</option>
        <option class="medium clickable" value="medium">Medium</option>
        <option class="high clickable" value="high">High</option>
      </select>
    </div>

    <div class="form-group two-cols noborder">
      <label for="attachments">Attachments</label>
      <ul id="files-attached">
        <li id="add-file" class="clickable">
          <i class="icon plus"></i> Add file
        </li>
      </ul>
      <%= file_field_tag "attachments", :multiple=> true, name: 'attachments[]', class: 'hidden' %>
    </div>

    <div id="progress">
      <div class="bar" style="width: 20%;"></div>
    </div>

    <div class="form-group noborder">
      <%= button_tag('Submit', :class => "btn btn-primary", onclick: 'submitForm()' ) %>
    </div>
  </form>
  <nav id="main-menu" class="fit-height">
    <div>
      <header>
        <button type="button">Menu</button>
      </header>
      <h1>Tickets</h1>
      <ul>
        <li>
          <div class="active">All Tickets(13)</div>
        </li>
        <li>
          <div>iOS (3)</div>
        </li>
        <li>
          <div>Android (4)</div>
        </li>
        <li>
          <div>Platform (4)</div>
        </li>
        <li>
          <div>Web (4)</div>
        </li>
        <li>
          <div>TechOps (4)</div>
        </li>
      </ul>
    </div>
    <footer>
      Log out
    </footer>
  </nav>
  <footer class="container">
    &copy; Fling 2015
  </footer>

  <script type="text/javascript">
    $(document).ready(function() {
      console.log('blabla');
      $('.fit-height').css({'height': $(window).height()+"px"})
    });

    function toggle(field) {
      $('#'+field).toggleClass('hidden');
      $('#'+field+'-selected').toggleClass('hidden');
    }
    $('#team-selected').on('click', function(evt) {
      $('#team').prop('selectedIndex', -1);
      toggle('team');
    });
    $('#team').on('change', function(evt) {
      $('#team-selected').html($('#team :selected').html());
      toggle('team');
    });

    $('#severity-selected').on('click', function(evt) {
      $('#severity').prop('selectedIndex', -1);
      toggle('severity');
    });
    $('#severity').on('change', function(evt) {
      $('#severity-selected').html($('#severity :selected').html());
      toggle('severity');
      $('#severity-selected').removeClass().addClass('clickable '+$('#severity :selected').val()).html($('#severity :selected').text());
    });

    $('#add-file').on('click', function(evt) {
      $('#attachments').trigger('click');
    });

    // file uploader
    var files = [];

    $("#attachments").fileupload({
      dataType: 'json',
      add: function (e, data) {
        var template = $('#files-attached');
        for (var idx=0; idx<data.files.length; idx++) {
          files.push(data.files[idx]);
          var t = $('<li/>').text(data.files[idx].name).prependTo(template);
          var redCross = $('<i class="icon red-cross"/>')
          // var button = $('<button/>').text('upload').prependTo(document.body)
          //   .click(function() {
          //     data.context = $('<p/>').text('Uploading...').replaceAll($(this));
          //     data.submit();
          //   });
            //button.appendTo(t);
          redCross.prependTo(t);
        }
        data.context = template;

      },
      done: function(e, data) {
        console.log('done!', arguments);
        $.each(data.files, function (index, file) {
            $('<p/>').text(file.name).appendTo(document.body);
        });
      },
      url: "/tickets/upload",
      progress: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress .bar').css(
            'width',
            progress + '%'
        );
      }
     });

  </script>
</body>
</html>
